.text {
  color: white;
  width: 501px;

  text-align: left;
}
img::after {
  content: "";
  width: 250px;
  height: 250px;
  color: white;
}
@media (max-width: 991px) {
  .conteiner {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
@media (max-width: 991px) {
  .text {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}
